body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  color: #333;
  padding: 15px;
}

a, a:hover, a:visited, a:active {
  color:dodgerblue;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 10px;
}
input:focus{
  outline: none;
}
input {
  border: 1px solid #eee;
  padding: 5px 8px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1.3em;  
}
input:focus-visible {
  border: 1px solid #ccc;
  padding: 5px 8px;
}
button {
  border: 1px solid #03c50b;
  background-color: #03c50b;
  color: #fff;
  padding: 10px 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  border-radius: 4px; 
  cursor:pointer; 
}
button:hover {
  background-color: #00b708;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
.nav {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}